.questions {
  margin: 3rem auto;
  width: 90%;
  max-width: 60rem;
  text-align: center;
}
.control {
  display: flex;
  justify-content: center;
  justify-items: center;
}
.questions button {
  font: inherit;
  border-radius: 6px;
  padding: 0.5rem 1rem;
  background-color: transparent;
  color: #03be9f;
  border: 1px solid #03be9f;
  cursor: pointer;
}

.questions button:hover,
.questions button:active {
  background-color: #dcfff9;
}

.selectEle {
  background-color: white;
  /* margin: 90px; */
}
